<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://vogel.vhpportal.com/repo/css/vg-general.css" />
      <link rel="stylesheet" href="http://vogel.vhpportal.com/repo/css/vg-utility.css" />

      <link rel="stylesheet" href="http://vogel.vhpportal.com/repo/css/vg-notifiers.css" />

      <link rel="stylesheet" href="http://localhost:4000/Tech/styles/check-summary.css" />
      <link rel="stylesheet" href="http://localhost:4000/Tech/styles/invoice.css" />
      <link rel="stylesheet" href="http://localhost:4000/Tech/styles/pres-summary.css" />
      <link rel="stylesheet" href="http://localhost:4000/Tech/styles/presentation-print.css" />
    </head>
    <body>
    </body>
</html>
