#invoice-header-logo{
    width:100%;
}
#vogel-text, #vogel-addy{
    grid-column: 2;
    color: var(--BEE-blue);
    font-weight: bold;
}
#vogel-text{
    font-family: Arial Black, Arial;
    font-size: 1.4em;
}
.invoice-top{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
[class*='invoice-section-']{
    padding: 5px;
    border: 1px solid black;
}
.invoice-section-client{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 0;
}
.invoice-section-location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 0;
    border-right: 0;
}
.invoice-section-info{
    grid-column: 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3px;
}
.invoice-sectionhead{
    font-weight: bold;
}
.invoice-sectionlabel{
    font-weight: bold;
}
.invoice-body{
    margin-top: 20px;
    border: 1px solid black;
}
.invoice-descbox{
    min-height: 3.5in;
    border: 1px solid black;
    margin: 1px;
    padding: 5px;
}
.invoice-totals{
    display: flex;
}
.signature-box {
    width: 50%;
    min-height: 1in;
}
.signature-box>img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.invoice-totals-box{
    width: calc(50% - 2px);
    min-height: 1in;
    border: 1px solid black;
    margin: 0px 1px 1px 1px;
    text-align: left;
    align-items: center;
    display: grid;
}
.invoice-totals-box>div>div>div{
    width: 50%;
    padding: 15px;
    margin-left: 100px;
}
.invoice-totals-box>div>div:last-child>div:last-child{
    border-top: 1px solid black;
}
.invoice-totals-box>div>div {
    border-bottom: 1px solid black;
    width: 45%;
    margin-right: 5%;
    align-content: flex-end;
}
.invoice-totals-box>div {
    display: flex;
    align-self: center;
}
.invoice-totals-box>div>label {
    width: 45%;
    margin-left: 5%;
}
/*Dollar sign/cent markers*/
.invoice-info-total::before {
    content: '$';
}

/*Subtotal customization*/
.invoice-totals-box>div:first-child {
    display: flex;
    align-self: center;
}
.invoice-info-subtotal {
    height: 100%;
    bottom: 50px;
}

/*Repair Table Customization*/
.invoice-repair-row, .invoice-descbox>.wo-present-headers {
    display:grid;
    grid-template-columns: 40% 20% 20% 15%;
    column-gap: 5px;
    padding:5px;
    justify-items: center;
    text-align: center;
}
.System-Label {
    text-decoration: underline;
    font-weight: 550;
}
#PriceLabel::before {
    content: '$';
}